<ngx-datatable
    id="dataTable"
    class="material"
    [rows]="rows"
    columnMode="standard"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="50"
    [scrollbarH]="true"
    [scrollbarV]="true"
    [selected]="selected"
    (select)="onSelect($event)"
    selectionType="checkbox"
    [messages]="messages"
    [externalPaging]="true"
    [externalSorting]="true"
    [virtualization]="false"
    [offset]="pageOffset"
    [count]="itemCount"
    [limit]="pageLimit"
    (page)="setPage($event)"
    (sort)="onSort($event)"
    [sorts]="sorts">
  <ngx-datatable-column
      *ngIf="data.select === 'multiple'"
      [width]="50"
      [sortable]="false"
      [canAutoResize]="false"
      [resizeable]="false">
    <ng-template
        ngx-datatable-header-template
        let-value="value"
        let-allRowsSelected="allRowsSelected"
        let-selectFn="selectFn">
      <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
    </ng-template>
    <ng-template
        ngx-datatable-cell-template
        let-value="value"
        let-isSelected="isSelected"
        let-onCheckboxChangeFn="onCheckboxChangeFn">
      <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
      *ngIf="data.select === 'single'"
      [width]="50"
      [sortable]="false"
      [canAutoResize]="false"
      [resizeable]="false">
    <ng-template
        ngx-datatable-cell-template
        let-row="row"
        let-isSelected="isSelected">
      <mat-radio-button [checked]="isSelected" (change)="onRadioChangeFn($event, row)"></mat-radio-button>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
      *ngFor="let display of data.display"
      [name]="display.name"
      [width]="defaultIfUndefined(display.width, 200)"
      [minWidth]="display.minWidth"
      [maxWidth]="display.maxWidth"
      [resizeable]="defaultIfUndefined(display.resizeable, true)"
      [sortable]="defaultIfUndefined(display.sortable, false)">
    <ng-template ngx-datatable-header-template let-sort="sortFn">
      <span class="text-no-select" (click)="sort()" style="cursor: pointer;" *ngIf="defaultIfUndefined(display.sortable, false); else noSortHeader">
        {{ data.columns[display.name].title }}
      </span>
      <ng-template #noSortHeader>
        <span class="text-no-select">
          {{ data.columns[display.name].title }}
        </span>
      </ng-template>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <app-data-table-cell [outlet]="outlet" [data]="data" [row]="row" [column]="data.columns[display.name]"></app-data-table-cell>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
