#dataTable {
  height: 100%;
}

.ngx-datatable {
  box-shadow: none;
}

.button-row {
  margin: 8px;
}

.filter-icon {
  transform: scale(0.66);
  opacity: 0.35;
}

.filter-icon:hover {
  opacity: 1;
}
