#hiddenScrollable {
  position: fixed;
  background: transparent;
  height: 50px;
  width: 50px;
  left: -50px; /* Hide off page */
  overflow-y: scroll;
}

#dataTableContainer {
  width: 100%;
  position: absolute;
  top: 48px;
  left: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

#data-table-toolbar {
  position: absolute;
  top: 49px;
}

#data-table-toolbar button {
  margin-right: 8px;
}

.data-table td, .data-table th {
  box-sizing: border-box;
}

table.data-table {
  table-layout: fixed;
}

[mat-header-cell] {
  border-right: 1px solid #dfe0e1;
}

[mat-cell]:last-child {
  border-right: 1px solid #dfe0e1;
}

[mat-header-cell], [mat-cell] {
  padding-left: 10px;
  padding-right: 10px;
}

.column-grabber {
  content: '';
  position: absolute;
  top: 0px;
  right: -7px;
  cursor: ew-resize;
  width: 14px;
  height: 100%;
  overflow: hidden;
}

.data-table td > div, .data-table th > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
