<ngx-datatable
    id="dataTable"
    class="material"
    [rows]="rows"
    columnMode="standard"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="50"
    [scrollbarH]="true"
    [scrollbarV]="true"
    [selected]="selected"
    (select)="onSelect($event)"
    selectionType="checkbox"
    [messages]="messages"
    [externalPaging]="true"
    [virtualization]="false"
    [offset]="meta.current_page - 1"
    [count]="meta.count"
    [limit]="pageSize"
    (page)="setPage($event)">
  <ngx-datatable-column
      *ngIf="data.select === 'multiple'"
      [width]="50"
      [sortable]="false"
      [canAutoResize]="false"
      [resizeable]="false">
    <ng-template
        ngx-datatable-header-template
        let-value="value"
        let-allRowsSelected="allRowsSelected"
        let-selectFn="selectFn">
      <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
    </ng-template>
    <ng-template
        ngx-datatable-cell-template
        let-value="value"
        let-isSelected="isSelected"
        let-onCheckboxChangeFn="onCheckboxChangeFn">
      <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
      *ngIf="data.select === 'single'"
      [width]="50"
      [sortable]="false"
      [canAutoResize]="false"
      [resizeable]="false">
    <ng-template
        ngx-datatable-cell-template
        let-row="row">
      <mat-radio-button (change)="onRadioChangeFn($event, row)"></mat-radio-button>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
      *ngFor="let display of data.display"
      [name]="display.name"
      [width]="defaultIfUndefined(display.width, 200)"
      [minWidth]="display.minWidth"
      [maxWidth]="display.maxWidth"
      [resizeable]="defaultIfUndefined(display.resizeable, true)">
    <ng-template ngx-datatable-header-template>
      {{ data.columns[display.name].title }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <app-data-table-cell [data]="data" [row]="row" [column]="data.columns[display.name]"></app-data-table-cell>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
