<div id="hiddenScrollable" #hiddenScrollable></div>
<div id="dataTableContainer" #dataTableContainer>
  <table class="data-table" mat-table [dataSource]="dataTableElements">
    <!-- Checkbox column -->
    <ng-container *ngIf="data.selectable" matColumnDef="select">
      <th class="select-column" mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          color="primary"
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td class="select-column" mat-cell *matCellDef="let row">
        <mat-checkbox
          color="primary"
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor="let column of data.display" [matColumnDef]="column.name">
      <th mat-header-cell *matHeaderCellDef>
        <div [style.width.px]="column.width">
          {{ getHeader(column) }}
          <div class="column-grabber" [(resizeColumn)]="column.width"></div>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">
        <div [style.width.px]="column.width">
          <app-data-table-cell [data]="data" [row]="row" [column]="column"></app-data-table-cell>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
