<mat-toolbar class="actionbar" style="height: 64px;">
  <mat-toolbar-row>
    <button mat-raised-button color="primary" class="mat-raised-button" routerLink="new">New</button>
    <button mat-raised-button class="mat-raised-button" disabled>Favorite</button>

    <!-- Fill -->
    <div class="h-fill"></div>

    <button mat-raised-button class="mat-raised-button" [disabled]="!isSingleFormSelected()" (click)="editSelectedForm()">Edit</button>
    <button mat-raised-button color="warn" [disabled]="isFormSelectionEmpty()" class="mat-raised-button" (click)="deleteSelectedForms()">Delete</button>
  </mat-toolbar-row>
</mat-toolbar>
<div id="form-table-wrapper">
  <app-data-table-route-binding [data]="data" [source]="formApiService" [(selection)]="selection"></app-data-table-route-binding>
</div>
