<div #target>
  <div *ngIf="options.schema.type === 'string'">
    <mat-form-field class="schema-form-widget" appearance="outline">
      <mat-label *ngIf="options.schema.title">{{ options.schema.title }}</mat-label>
      <input matInput (ngModelChange)="updateFieldValue($event)" placeholder="Placeholder" [ngModel]="options.value" [name]="options.name">
      <mat-hint *ngIf="options.schema.description">{{ options.schema.description }}</mat-hint>
    </mat-form-field>
  </div>
  <div *ngIf="options.schema.type === 'array'">
    <div *ngFor="let item of options.value; let i = index; trackBy: trackByFn">
      <app-form-widget [options]="childWidgetOptions(item, i)" (valueChange)="options.value[i]=$event"></app-form-widget>
    </div>
  </div>
</div>
