<mat-toolbar class="actionbar" style="height: 64px;">
  <mat-toolbar-row>
    <button mat-raised-button color="primary" class="mat-raised-button">Upload</button>
    <button mat-raised-button class="mat-raised-button">Favorite</button>
    <button mat-raised-button class="mat-raised-button">Download</button>
    <button mat-raised-button class="mat-raised-button">Check out</button>
    <button mat-raised-button class="mat-raised-button" (click)="openCreateFolderDialog()">Create Folder</button>
    <button mat-raised-button class="mat-raised-button" (click)="openSelectFolderDialog()">Select Folder</button>

    <!-- Fill -->
    <div class="h-fill"></div>

    <button mat-raised-button color="warn" class="mat-raised-button">Delete</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="document-table-wrapper">
  <app-data-table #folderDataTable [data]="data"></app-data-table>
</div>
