<mat-toolbar class="actionbar" style="height: 64px;">
  <mat-toolbar-row>
    <button mat-icon-button [disabled]="!folderId" (click)="goToRoot()">
      <mat-icon svgIcon="home-outline"></mat-icon>
    </button>
    <button mat-icon-button [disabled]="!folderId" (click)="goToParentFolder()">
      <mat-icon svgIcon="arrow-up"></mat-icon>
    </button>
    <div class="spacer-12"></div>
    <button mat-raised-button color="primary" (click)="routeToUpload()">Upload</button>
    <button mat-raised-button (click)="openCreateFolderDialog()">Create Folder</button>
    <button mat-raised-button [disabled]="isSelectionEmpty()" (click)="openMoveToFolderDialog()">Move</button>

    <!-- Fill -->
    <div class="h-fill"></div>

    <button mat-raised-button [disabled]="isSelectionEmpty()" color="warn" (click)="confirmDelete()">Delete</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="document-table-wrapper">
  <app-data-table-route-binding
    [tableConfig]="tableConfig"
    [scope]="scope"
    [(selection)]="selection"
    [source]="folderContentApi">
  </app-data-table-route-binding>
</div>
