.document-table {
  box-sizing: border-box;
  width: 100vw;
}

.document-table-wrapper {
  position: absolute;
  top: 64px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

.document-table-header-row {
  margin-top: 48px;
}

mat-icon.document-list-icon {
  vertical-align: bottom;
}
