<mat-toolbar class="actionbar" style="height: 64px;">
  <mat-toolbar-row>
    <button mat-icon-button [disabled]="atRootFolder()" (click)="goToRoot()">
      <mat-icon svgIcon="home-outline"></mat-icon>
    </button>
    <button mat-icon-button [disabled]="atRootFolder()" (click)="goToParentFolder()">
      <mat-icon svgIcon="arrow-up"></mat-icon>
    </button>
    <button mat-raised-button (click)="selectRoot()">Select Root</button>
    <button mat-raised-button [disabled]="!isAnyFolderSelected()" (click)="selectFolders()">Select</button>
    <button mat-raised-button (click)="cancelSelection()">Cancel</button>
    {{ filters | json }}
  </mat-toolbar-row>
</mat-toolbar>
<div id="select-wrapper" class="mat-typography">
  <app-data-table
    (pseudoLink)="folderClicked($event)"
    [data]="data"
    [rows]="rows"
    [page]="page"
    [(selection)]="selection"
    (pageChange)="pageChange($event)"
    (sortChange)="sortChange($event)">
  </app-data-table>
</div>
