<form>
  <button type="button" mat-raised-button (click)="openSelectFiles()">Select Files</button>
  <button type="button" mat-raised-button (click)="startUploads()">Upload All</button>
  <input hidden type="file" #fileUploader name="fileUploader" (change)="selectFiles($event)" multiple="multiple">
</form>
<mat-list>
  <mat-list-item *ngFor="let file of queuedFiles; let i = index">
    <div mat-list-avatar>
      <button [disabled]="!canManuallyUpload(i)"
              mat-icon-button
              (click)="uploadSingleFile(file)">
        <mat-icon svgIcon="cloud-upload-outline"></mat-icon>
      </button>
    </div>
    <div mat-list-avatar>
      <button disableRipple mat-icon-button [ngSwitch]="file.status">
        <mat-icon *ngSwitchCase="FileUploadStatus.Queued" svgIcon="sleep"></mat-icon>
        <mat-icon *ngSwitchCase="FileUploadStatus.Pending" svgIcon="clock-outline"></mat-icon>
        <mat-icon *ngSwitchCase="FileUploadStatus.InProcess" svgIcon="upload"></mat-icon>
        <mat-icon *ngSwitchCase="FileUploadStatus.Success" svgIcon="check" color="success"></mat-icon>
        <mat-icon *ngSwitchCase="FileUploadStatus.Failure"
                  matTooltipPosition="below"
                  [matTooltip]="file.tooltip"
                  svgIcon="close"
                  color="warn"></mat-icon>
      </button>
    </div>
    <div mat-line>
      {{ file.name }}
    </div>
    <div mat-line>
      <mat-progress-bar mode="determinate" [value]="file.progress"></mat-progress-bar>
    </div>
  </mat-list-item>
</mat-list>
