#document-preview {
  background-color: #ddd;
  overflow-y: scroll;
  position: absolute;
  top: 64px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.image-preview {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
