<div id="document-viewer">
  <mat-toolbar id="document-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button class="mat-icon-button" routerLink="..">
        <i class="material-icons md-24">arrow_back</i>
      </button>

      <div class="spacer-24"></div>

      <button mat-raised-button class="mat-raised-button">Favorite</button>
      <button mat-raised-button class="mat-raised-button">Download</button>
      <button mat-raised-button class="mat-raised-button">Check out</button>

      <mat-menu #shareMenu="matMenu">
        <button mat-menu-item><span class="warn-color">Email</span></button>
        <button mat-menu-item [matMenuTriggerFor]="shareLinkMenu">Link</button>
      </mat-menu>
      <mat-menu #shareLinkMenu="matMenu">
        <button mat-menu-item>Private</button>
        <button mat-menu-item><span class="warn-color">Public</span></button>
      </mat-menu>
      <button mat-raised-button [matMenuTriggerFor]="shareMenu" class="mat-raised-button">Share</button>

      <!-- Fill -->
      <div class="h-fill"></div>

      <button mat-raised-button color="warn" class="mat-raised-button">Delete</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div id="document-preview">
  </div>
</div>
