<div class="blueprint-composer" fxLayout="column">
  <div class="blueprint-section">
    <mat-form-field appearance="standard">
      <mat-label>Blueprint Name</mat-label>
      <input matInput type="text" [ngModel]="name" (ngModelChange)="nameChange.emit($event)">
    </mat-form-field>
  </div>
  <div class="blueprint-section">
    <mat-form-field appearance="standard">
      <mat-label>Namespace</mat-label>
      <input matInput type="text" [ngModel]="namespace" (ngModelChange)="namespaceChange.emit($event)">
    </mat-form-field>
  </div>
  <div
      *ngFor="let section of jsonSections"
      class="blueprint-json-section">
    <span class="mat-h2">{{ section.title }}</span>
    <app-blueprint-composer-json-editor
      [text]="section.text"
      (textChange)="section.textChange.emit($event)">
    </app-blueprint-composer-json-editor>
  </div>
</div>
