<!-- Link -->
<div *ngIf="columnDisplay === 'link'">
  <div *ngIf="column.pseudoLink; else routerLinkDisplay">
    <a class="primary-color mat-body-2 pseudo-link" (click)="routeTo()">
      {{ value }}
    </a>
  </div>
  <ng-template #routerLinkDisplay>
    <a class="primary-color mat-body-2" [routerLink]="getRouterLink()">
      {{ value }}
    </a>
  </ng-template>
</div>

<!-- ID -->
<div *ngIf="columnDisplay === 'id'">
  {{ value }}
</div>

<!-- Text -->
<div *ngIf="columnDisplay === 'text'">
  {{ value }}
</div>

<!-- Date -->
<div *ngIf="columnDisplay === 'date'">
  {{ value }}
</div>

<!-- Switch -->
<div *ngIf="columnDisplay === 'switch'">
  <!-- {{ row._source | json }} -->
  <app-data-table-cell [data]="data" [row]="row" [column]="value"></app-data-table-cell>
</div>

<!-- Icon -->
<mat-icon *ngIf="columnDisplay === 'icon'" class="document-list-icon" [svgIcon]="value"></mat-icon>

<div *ngIf="columnDisplay === 'modal'">
  <button mat-icon-button class="primary-color mat-body-2" (click)="openRelationshipDialog()"><mat-icon svgIcon="magnify"></mat-icon></button>
</div>
