<div id="form-submit-wrapper">
  <h1>{{ formName }}</h1>
  <div id="form-content">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div style="margin-bottom: 12px;">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      </div>
      <div class="button-row">
        <button type="submit" mat-raised-button color="primary">Submit</button>
        <button type="button" mat-raised-button (click)="saveDraft()">Save Draft</button>
        <div class="h-fill"></div>
        <button type="button" mat-raised-button (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
</div>
