<mat-toolbar class="actionbar" style="height: 64px;">
  <mat-toolbar-row>
    <button mat-raised-button class="mat-raised-button" routerLink="../..">Back</button>

    <!-- Fill -->
    <div class="h-fill"></div>

    <button mat-raised-button color="warn" class="mat-raised-button" disabled>Delete</button>
  </mat-toolbar-row>
</mat-toolbar>
<div id="form-submission-table-wrapper">
  <app-data-table-route-binding
    [data]="data"
    [scope]="scope"
    [source]="formSubmissionApiService"
    [(selection)]="selection"
    [filter]="filter">
  </app-data-table-route-binding>
</div>
