<mat-sidenav-container class="document-browser" (mousemove)="onMouseMove($event)">
  <mat-sidenav
      [style.width.px]="drawerWidth"
      class="document-browser-drawer"
      mode="side"
      opened>
    <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node">
          <button mat-icon-button disabled></button>
          {{ node.name }}
        </li>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
        <li>
          <div class="mat-tree-node">
            <button
                mat-icon-button
                matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon class="mat-icon-rtl-mirror">
                {{ nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
            </button>
            {{ node.name }}
          </div>
          <ul [class.folder-tree-invisible]="!nestedTreeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
    <div class="grabber" (mousedown)="onGrabberMouseDown($event)"></div>
  </mat-sidenav>
  <mat-sidenav-content [style.marginLeft.px]="drawerWidth">
    <mat-toolbar id="document-table-toolbar" style="height: 64px;">
      <mat-toolbar-row>
        <button mat-raised-button color="primary" class="mat-raised-button">Upload</button>
        <button mat-raised-button class="mat-raised-button">Favorite</button>
        <button mat-raised-button class="mat-raised-button">Download</button>
        <button mat-raised-button class="mat-raised-button">Check out</button>

        <!-- Fill -->
        <div class="h-fill"></div>

        <button mat-raised-button color="warn" class="mat-raised-button">Delete</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="document-table-wrapper">
      <table class="document-table" mat-table [dataSource]="documentList">
        <!-- Checkbox column -->
        <ng-container matColumnDef="select">
          <th class="select-column" mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              color="primary"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td class="select-column" mat-cell *matCellDef="let row">
            <mat-checkbox
              color="primary"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Document name column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let doc">
            <a class="primary-color" routerLink="/documents/{{ doc.id }}">
              {{ doc.name }}
            </a>
          </td>
        </ng-container>

        <tr class="document-table-header-row" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
