<mat-sidenav-container class="document-browser" (mousemove)="onMouseMove($event)">
  <mat-sidenav
      [style.width.px]="drawerWidth"
      class="document-browser-drawer"
      mode="side"
      opened>
    <mat-tree class="document-browser-tree" [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <li class="mat-tree-node">
          <button mat-icon-button disabled></button>
          <mat-icon *ngIf="treeControl.isExpanded(node)" svgIcon="folder-open"></mat-icon>
          <mat-icon *ngIf="!treeControl.isExpanded(node)" svgIcon="folder"></mat-icon>
          <span class="spacer-14"></span>
          {{ node.name }}
        </li>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <div *ngIf="!node.isLoading">
          <button
              mat-icon-button
              matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
              {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
          </button>
        </div>
        <div *ngIf="node.isLoading">
          <button mat-icon-button class="folder-load-icon">
            <mat-icon class="mat-icon-rtl-mirror">
              hourglass_full
            </mat-icon>
          </button>
        </div>
        <mat-icon *ngIf="treeControl.isExpanded(node)" svgIcon="folder-open"></mat-icon>
        <mat-icon *ngIf="!treeControl.isExpanded(node)" svgIcon="folder"></mat-icon>
        <span class="spacer-14"></span>
        {{ node.name }}
      </mat-tree-node>
    </mat-tree>
    <div class="grabber" (mousedown)="onGrabberMouseDown($event)"></div>
  </mat-sidenav>
  <mat-sidenav-content [style.marginLeft.px]="drawerWidth">
    <mat-toolbar id="document-table-toolbar" style="height: 64px;">
      <mat-toolbar-row>
        <button mat-raised-button color="primary" class="mat-raised-button">Upload</button>
        <button mat-raised-button class="mat-raised-button">Favorite</button>
        <button mat-raised-button class="mat-raised-button">Download</button>
        <button mat-raised-button class="mat-raised-button">Check out</button>

        <!-- Fill -->
        <div class="h-fill"></div>

        <button mat-raised-button color="warn" class="mat-raised-button">Delete</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="document-table-wrapper">
      <table class="document-table" mat-table [dataSource]="documentList">
        <!-- Checkbox column -->
        <ng-container matColumnDef="select">
          <th class="select-column" mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              color="primary"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td class="select-column" mat-cell *matCellDef="let row">
            <mat-checkbox
              color="primary"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Document name column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let doc">
            <a class="primary-color" routerLink="/documents/{{ doc.id }}">
              {{ doc.name }}
            </a>
          </td>
        </ng-container>

        <tr class="document-table-header-row" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
