.document-browser {
  position: absolute;
  top: 48px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

mat-sidenav.document-browser-drawer {
  padding-right: 4px;
  white-space: nowrap;
}

.document-browser-tree {
  display: table;
  padding-left: 8px;
  padding-top: 4px;
  padding-right: 16px;
}

.document-tree-icon {
  height: 40px;
}

.document-tree-icon mat-icon {
  padding-top: 8px;
  padding-bottom: 8px;
}

.grabber {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: ew-resize;
  margin-left: -10px;
  width: 4px;
  height: 100%;
  overflow: hidden;
  background-color: #dfe0e1;
}

.document-table {
  width: 100%;
}

.document-table-wrapper {
  position: absolute;
  top: 64px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

#document-table-toolbar button {
  margin-right: 8px;
}

.document-table-header-row {
  margin-top: 48px;
}

.folder-tree-invisible {
  display: none;
}

.document-browser ul,
.document-browser li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.folder-load-icon {
  cursor: default;
}
