.document-browser {
  width: 100%;
  height: 100%;
}

mat-sidenav.document-browser-drawer {
  padding-right: 4px;
  white-space: nowrap;
}

.grabber {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: ew-resize;
  margin-left: -10px;
  width: 4px;
  height: 100%;
  overflow: hidden;
  background-color: #dfe0e1;
}

.folder-tree-invisible {
  display: none;
}

.document-browser ul,
.document-browser li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.folder-load-icon {
  cursor: default;
}
