<mat-form-field appearance="standard" style="width: 100%;" *ngIf="type !== 'number'; else numberTmp">
  <mat-label>{{ to.label }}</mat-label>
  <input
    [id]="id"
    matInput
    [readonly]="to.readonly"
    [type]="type || 'text'"
    [errorStateMatcher]="errorStateMatcher"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [tabindex]="to.tabindex || 0"
    [placeholder]="to.placeholder">
</mat-form-field>
<ng-template #numberTmp>
  <mat-form-field appearance="standard" style="width: 100%;" >
    <mat-label>{{ to.label }}</mat-label>
    <input
      [id]="id"
      matInput
      appearance="standard"
      type="number"
      [readonly]="to.readonly"
      [errorStateMatcher]="errorStateMatcher"
      [formControl]="formControl"
      [formlyAttributes]="field"
      [tabindex]="to.tabindex || 0"
      [placeholder]="to.placeholder">
  </mat-form-field>
</ng-template>
