.json-editor {
  height: 100%;
}

#form-edit-toolbar button {
  margin-right: 8px;
}

#form-edit-wrapper {
  width: 100%;
  height: 100%;
}

.editor-section-header {
  width:100%;
  text-align:center;
  background-color: #fed;
}
