<div id="form-edit-wrapper" fxLayout="column">
  <mat-toolbar id="form-edit-toolbar" style="height: 64px;">
    <mat-toolbar-row>
      <button mat-raised-button color="primary" class="mat-raised-button" (click)="save()">Save</button>
      <button mat-raised-button class="mat-raised-button" (click)="generatePreview()">Preview</button>


      <mat-form-field>
        <input matInput [(ngModel)]="name">
      </mat-form-field>

      <!-- Fill -->
      <div class="h-fill"></div>

      <button mat-raised-button class="mat-raised-button" (click)="cancelFormEdit()">Cancel</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="row" style="height:100%">
    <div fxFlex="50">
      <div fxLayout="column" style="height:100%;">
        <div class="editor-section-header">Schema</div>
        <div
          class="json-editor"
          ace-editor
          mode="json"
          theme="eclipse"
          [(text)]="schema"></div>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="column" style="height:100%; border-left: 1px solid #ccc;">
        <div class="editor-section-header">Preview</div>
        <div style="margin-left: 8px; margin-right: 8px;">
          <formly-form [form]="form" [options]="options" [fields]="fields" [model]="model"></formly-form>
        </div>
      </div>
    </div>
  </div>
</div>
