<div id="form-edit-wrapper" fxLayout="column">
  <mat-toolbar id="form-edit-toolbar" style="height: 64px;">
    <mat-toolbar-row>
      <button mat-raised-button color="primary" class="mat-raised-button" (click)="saveEdits()">Save</button>
      <button mat-raised-button class="mat-raised-button" disabled>Preview</button>

      <!-- Fill -->
      <div class="h-fill"></div>

      <button mat-raised-button class="mat-raised-button" (click)="cancelFormEdit()">Cancel</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="row" style="height:100%">
    <div fxFlex="50">
      <div fxLayout="column" style="height:100%;">
        <div class="editor-section-header">Schema</div>
        <div
          class="json-editor"
          ace-editor
          mode="json"
          theme="eclipse"
          [(text)]="schema"></div>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="column" style="height:100%; border-left: 1px solid #ccc;">
        <div class="editor-section-header">Preview</div>
      </div>
    </div>
  </div>
</div>
