@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

body {
  margin: 0px;
}

th.select-column {
  max-width: 56px;
  min-width: 56px;
  width: 56px;
  box-sizing: border-box;
}

.h-fill {
  flex: 1 1 auto;
}

.w-100 {
  width: 100%;
}

.spacer-14 {
  height: 100%;
  margin-left: 14px;
  content: '';
}

.spacer-24 {
  height: 100%;
  margin-left: 24px;
  content: '';
}

.spacer-48{
  height: 100%;
  margin-left: 48px;
  content: '';
}

@include mat-core();

a {
  text-decoration: none;
}

.primary-color {
  color: mat-color(mat-palette($mat-indigo)) !important;
}

.warn-color {
  color: mat-color(mat-palette($mat-red)) !important
}
