@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@include mat-core();

/* Rich green color for success-related elements */
$success: mat-palette($mat-green, A700);

button[color="success"] {
  background-color: mat-color($success);
  color: white;
}

[color="success"] {
  color: mat-color($success);
}

body {
  margin: 0px;
}

th.select-column {
  max-width: 64px;
  min-width: 64px;
  width: 64px;
  box-sizing: border-box;
}

th.icon-column {
  max-width: 56px;
  min-width: 56px;
  width: 56px;
  box-sizing: border-box;
}

.h-fill {
  flex: 1 1 auto;
}

.w-100 {
  width: 100%;
}

.spacer-14 {
  height: 100%;
  margin-left: 14px;
  content: '';
}

.spacer-24 {
  height: 100%;
  margin-left: 24px;
  content: '';
}

.spacer-48{
  height: 100%;
  margin-left: 48px;
  content: '';
}

@include mat-core();

a {
  text-decoration: none;
}

.primary-color {
  color: mat-color(mat-palette($mat-indigo)) !important;
}

.warn-color {
  color: mat-color(mat-palette($mat-red)) !important
}
