@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px;
}

th.select-column {
  max-width: 56px;
  min-width: 56px;
  width: 56px;
  box-sizing: border-box;
}

.h-fill {
  flex: 1 1 auto;
}

.w-100 {
  width: 100%;
}
