/* Accent active label */
.mat-tab-link.mat-tab-label-active {
  opacity: 1;
}

.home-page-nav-bar {
  position: fixed;
  top: 64px;
  left: 0px;
  right: 0px;
  z-index: 2;
}

.home-wrapper {
  position: absolute;
  top: 49px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
