<div class="mat-typography">
  <div *ngIf="true">
    <mat-tab-group class="home-page-nav-bar" routerTabs>
      <mat-tab *ngFor="let tab of tabs"
          [label]="tab.label"
          [routerLink]="tab.path"
          routerLinkActive #rla="routerLinkActive"
          [routerLinkActiveOptions]="{ exact: tab.exact }"></mat-tab>
    </mat-tab-group>


    <router-outlet></router-outlet>
  </div>
  <div *ngIf="false">
    <mat-grid-list cols="4" class="front-page-body">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="2">
        <div style="margin-top: 24px;">
          <h1 class="mat-display-4">Polydesk</h1>
          <p class="mat-body-1">
            Polydesk is a powerful cloud workspace for individuals and
            organizations designed with productivity and simplicity in mind.
            Upload, share, and collaborate your documents in a cloud-first
            application that removes the worries of paper and share drives.
            Empower your users and accelerate your business processes with
            workflows and customized web forms.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
