<h2 *ngIf="to.label">{{ to.label }}</h2>
<p *ngIf="to.description">{{ to.description }}</p>
<table style="width: 100%;">
  <tr *ngFor="let field of field.fieldGroup; let i = index;">
    <td style="width:100%;">
      <formly-field [field]="field"></formly-field>
    </td>
    <td>
      <button type="button" mat-flat-button mat-icon-button (click)="remove(i)">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </td>
  </tr>
</table>
<div>
  <button mat-raised-button type="button" (click)="add()">Add</button>
<div>
