table.form-widget-array tr:not(:last-child) > td > div {
  padding-bottom: 12px;
}

table.form-widget-array tr > td:last-child {
  border-left: 2px solid transparent;
}

table.form-widget-array tr > td:last-child:hover {
  border-left: 2px solid #f4f4f4;
}
