<h2 *ngIf="to.label" style="margin-bottom: 4px;">{{ to.label }}</h2>
<p *ngIf="to.description">{{ to.description }}</p>
<div style="margin-bottom: 12px;">
  <table class="form-widget-array" style="width: 100%; border-spacing: 0px;">
    <tr *ngFor="let field of field.fieldGroup; let i = index;">
      <td style="width: 100%; padding-right: 12px;">
        <div>
          <formly-field [field]="field"></formly-field>
        </div>
      </td>
      <td style="padding-top: 2px; padding-left: 12px; vertical-align: top;">
        <div>
          <button class="form-widget-array-remove" type="button" color="warn" mat-stroked-button (click)="remove(i)" tabindex="-1">
            Remove
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
<div>
  <button *ngIf="!formState.disabled" mat-stroked-button type="button" (click)="add()">Add</button>
<div>
