.document-browser-tree {
  display: table;
  padding-right: 16px;
  width: 100%;
}

.document-browser-node {
  padding-left: 8px;
  padding-top: 4px;
}

.document-tree-icon {
  height: 40px;
}

.document-tree-icon mat-icon {
  padding-top: 8px;
  padding-bottom: 8px;
}

.color-black {
  color: #000;
}

.selected {
  background-color: #eee;
}
